<nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-faded">
    <a class="navbar-brand" href="#">NGestion</a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div [ngbCollapse]="!isNavbarCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <!--li class="nav-item active">
        <a class="nav-link" routerLink="/pizarra">Pizarra
          <span class="sr-only">(current)</span>
        </a>
      </li-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/pizarra">Pizarra</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (click)="isVentaMenuCollapsed = !isVentaMenuCollapsed" aria-haspopup="true" aria-expanded="false">Ventas</a>
        <div [ngbCollapse]="!isVentaMenuCollapsed" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/venta">Registrar nueva</a>
          <a class="dropdown-item" href="#">Ultimas realizadas</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (click)="isCompraMenuCollapsed = !isCompraMenuCollapsed" aria-haspopup="true" aria-expanded="false">Compras</a>
        <div [ngbCollapse]="!isCompraMenuCollapsed" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/compra">Registrar nueva</a>
          <a class="dropdown-item" href="#">Ultimas realizadas</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (click)="isContactoMenuCollapsed = !isContactoMenuCollapsed" aria-haspopup="true" aria-expanded="false">Contactos</a>
        <div [ngbCollapse]="!isContactoMenuCollapsed" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/contacto">Registrar nuevo</a>
          <a class="dropdown-item" href="#">Buscar</a>
        </div>
      </li>
    </ul>
  <!--form class="form-inline my-2 my-md-0">
    <input class="form-control" type="text" placeholder="Search">
  </form-->
  </div>
</nav>
<router-outlet></router-outlet>
